.carousel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 2s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000000;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.fade-in {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.carousel-text {
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100vw;
  height: 100vh;
  padding: 20vh 15vh 15vh;
}

h3 {
  display: inline-block;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #CCAF49;
  padding-left: 0.6rem;
  margin-top: 0;
  margin-bottom: 0.8rem;
  position: relative;
}

h3::before {
  content: "";
  display: block;
  width: 8.2rem;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 1rem;
  right: calc(100% + 1.8rem);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: normal;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.divbotton {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  margin-top: 2em;
}

button {
  box-sizing: border-box;
  z-index: 2;
  font-size: 1rem;
  margin: 0;
  height: 5.6rem !important;
  line-height: 5.4rem !important;
  border: 1px solid #ffffff !important;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  padding: 0 3.2rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 10px;
}

button svg {
  fill: #ffffff;
  height: 1rem;
  width: 1rem;
  margin-left: 0.4rem;
}

button::before {
  z-index: -1;
  content: "";
  height: 100%;
  width: 0;
  background-color: #ffffff;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  position: absolute;
  top: 0;
  left: 0;
}

button:hover {
  color: #000000;
}

button:hover svg {
  fill: #000000;
}

button:hover::before {
  width: 100%;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.9rem;
  }

  p {
    font-size: 1.5rem;
  }

  button{
    letter-spacing: 0.4rem;
    padding: 0 1.2rem;
  }

}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
  }

  button{
    letter-spacing: 0.15rem;
    padding: 0 0.2rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .carousel-text {
    padding: 10vh 5vh 5vh;
  }

  h3::before {
    width: 3.2rem;
    background-color: rgba(255, 255, 255, 0.15);
    right: calc(100% + 0.3rem);
  }

  button{
    letter-spacing: 0.02rem;
    padding: 0 0.2rem;
  }
}
